Q1. What is a database? Differentiate between SQL and NoSQL databases.

Answer:-A database is a collection of data that is organized in a structured manner for efficient storage, retrieval, and manipulation. SQL databases are relational and store data in tables, while NoSQL databases are non-relational and store data in various ways.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Answer:-DDL (Data Definition Language) is used to define and manipulate the structure of a database. CREATE is used to create a new object, DROP is used to delete an object, ALTER is used to modify an object, and TRUNCATE is used to delete all the data from a table.

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Answer:-DML (Data Manipulation Language) is used to manipulate the data within a database. INSERT is used to add new data, UPDATE is used to modify existing data, and DELETE is used to delete data from a table.

Q4. What is DQL? Explain SELECT with an example.

Answer:-DQL (Data Query Language) is used to retrieve data from a database. SELECT is used to retrieve data from a table based on specific conditions. For example, SELECT * FROM employees WHERE age > 30; would retrieve all employees with an age greater than 30 from the 'employees' table.

Q5. Explain Primary Key and Foreign Key.

Answer:-A Primary Key is a column in a table that uniquely identifies each row. It cannot contain null values and must be unique across all rows. A Foreign Key is a column in a table that links to the Primary Key of another table. It creates a relationship between the two tables, allowing data to be retrieved from both tables in a single query.

Q6. Answer:-Here is an example Python code to connect MySQL to Python using the mysql-connector library:

In [3]:
import mysql.connector

# Establishing a connection to the MySQL database
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"
)
mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM customers")
result = mycursor.fetchall()
for row in result:
  print(row)

ModuleNotFoundError: No module named 'mysql'

Q7. Give the order of execution of SQL clauses in an SQL query.

Answer:-The order of execution of SQL clauses in a SQL query is as follows:

SELECT
FROM
JOIN
WHERE
GROUP BY
HAVING
ORDER BY