Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?

Answer:-MongoDB is a document-oriented, NoSQL database that stores data in flexible, JSON-like documents. Non-relational databases, also known as NoSQL databases, are designed to handle unstructured data that does not fit into the traditional rows and columns structure of a relational database. NoSQL databases are preferred in scenarios where the data is unstructured, the data needs to be accessed in real-time, and there is a need for horizontal scalability.

MongoDB is preferred over SQL databases in scenarios where:

There is a need to handle large amounts of unstructured data
There is a need for high-speed data processing
There is a need for high availability and scalability
There is a need for real-time data processing and analytics
There is a need for geographic distribution of data across multiple data centers
There is a need for a flexible and agile data model that can adapt to changing business requirements

Q2. State and Explain the features of MongoDB.

Answer:-Features of MongoDB:

Document-oriented: MongoDB stores data in flexible, JSON-like documents that can have varying structures, making it easy to handle unstructured data.
High performance: MongoDB has high write and read throughput and can handle large amounts of data.
Horizontal scalability: MongoDB can be scaled horizontally by adding more servers, allowing for seamless growth as data grows.
Automatic sharding: MongoDB can automatically distribute data across multiple servers, making it easy to scale.
Indexing: MongoDB has a powerful indexing system that allows for fast data retrieval.
Ad hoc queries: MongoDB allows for ad hoc queries, making it easy to analyze data in real-time.
Geospatial indexing: MongoDB has built-in support for geospatial data and can handle location-based queries.

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [3]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://sureshbth1998:Baitha1998@cluster0.r7crblg.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [4]:
pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.10/site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo) (2.3.0)
Note: you may need to restart the kernel to use updated packages.

Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.

Code to insert one record and insert many records, and use find() and find_one() methods to print the inserted records:

In [5]:
client = pymongo.MongoClient("mongodb+srv://sureshbth1998:Baitha1998@cluster0.r7crblg.mongodb.net/?retryWrites=true&w=majority")

In [6]:
db=client['pwskill']

In [8]:
data={"name": "suresh",
     "class":"data science masters",
     "time":"flexi"}

In [9]:
coll_pwskills=db["my_record"]

In [10]:
coll_pwskills.insert_one(data)

In [11]:
data2 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [12]:
coll_pwskills.insert_many(data2)

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.

Answer:-The find() method is used to query the MongoDB database. It returns a cursor object that can be used to iterate over the results. The find() method can take parameters to filter the results based on a query criteria. For example, to find all records where the age is greater than 30, we can use the following code:

In [14]:
for i in coll_pwskills.find():
    print(i)

{'_id': ObjectId('63fec164041b25426be799a7'), 'name': 'suresh', 'class': 'data science masters', 'time': 'flexi'}
{'_id': ObjectId('63fed33d041b25426be799aa'), 'name': 'suresh', 'class': 'data science masters', 'time': 'flexi'}
{'_id': ObjectId('63fed72d041b25426be799ab'), 'mail_id': 'sudh@gmail.com', 'phone_num': 3637377370, 'addr': 'bangalore'}
{'_id': ObjectId('63feda03041b25426be799ac'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63feda03041b25426be799ad'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63feda03041b25426be799ae'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63feda03041b25426be799af'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63feda03041b25426be799b0'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63feda03041b25426be799b1'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63feda03041b25426be799b2'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63feda03041b25426be799b3'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63feda03041b25426be799b4'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63feda03041b25426be799b5'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63feda03041b25426be799b6'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63feda03041b25426be799b7'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63fedad4041b25426be799b8'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('63fedbab041b25426be799b9'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('63fedbab041b25426be799ba'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('63fedbab041b25426be799bb'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}
{'_id': ObjectId('63fef5ab69099394744bd1c7'), 'name': 'suresh', 'class': 'data science masters', 'time': 'flexi'}
{'_id': ObjectId('63fef5d269099394744bd1c8'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63fef5d269099394744bd1c9'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63fef5d269099394744bd1ca'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63fef5d269099394744bd1cb'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63fef5d269099394744bd1cc'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63fef5d269099394744bd1cd'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63fef5d269099394744bd1ce'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63fef5d269099394744bd1cf'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63fef5d269099394744bd1d0'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63fef5d269099394744bd1d1'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63fef5d269099394744bd1d2'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63fef5d269099394744bd1d3'), 'name': 'Viola', 'address': 'Sideway 1633'}

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

Answer:- The sort() method is used to sort the results of a query in MongoDB. It can be used to sort the results in ascending or descending order. For example, to sort the results by age in descending order, we can use the following code:

In [15]:
for i in coll_pwskills.find({'companyName':'iNeuron'}):
    print(i)

{'_id': ObjectId('63fedbab041b25426be799b9'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('63fedbab041b25426be799ba'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('63fedbab041b25426be799bb'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

Q7. Explain why delete_one(), delete_many(), and drop() is used.

In [16]:
"""Answer:-The delete_one() method is used to delete a single document that matches a given filter. The delete_many() method is used to delete multiple documents that match a given filter. The drop() method is used to delete an entire collection from the database.

delete_one() is used to remove a single document from a collection.
delete_many() is used to remove multiple documents from a collection that match a given filter.
drop() is used to remove an entire collection from the database."""

'Answer:-The delete_one() method is used to delete a single document that matches a given filter. The delete_many() method is used to delete multiple documents that match a given filter. The drop() method is used to delete an entire collection from the database.\n\ndelete_one() is used to remove a single document from a collection.\ndelete_many() is used to remove multiple documents from a collection that match a given filter.\ndrop() is used to remove an entire collection from the database.'

In [17]:
"""Thanks"""

'Thanks'